<app-card [value]="state?.name"></app-card>
<app-card [value]="state?.lastName"></app-card>
<app-card [value]="state?.age"></app-card>
<app-card [value]="state?.job"></app-card>
<app-card [value]="state?.civil"></app-card>

<app-input [buttonName]="'name'" (eventEmitter)="updateValue($event, 'name')"></app-input>
<app-input [buttonName]="'last name'" (eventEmitter)="updateValue($event, 'lastName')"></app-input>
<app-input [buttonName]="'age'" (eventEmitter)="updateValue($event, 'age')"></app-input>
<app-input [buttonName]="'civil'" (eventEmitter)="updateValue($event, 'civil')"></app-input>
<app-input [buttonName]="'job'" (eventEmitter)="updateValue($event, 'job')"></app-input>